{% extends "base.html" %}

{% block page_content %}
    <!--Head Text-->
    <div class="page-header text-center">
        <h2>GeoCorrect</h2>
        <h5> Correction of maps(location data) using on VGI data</h5>
        <h5>Visit <a href="https://github.com/electron0zero/GeoCorrect">https://github.com/electron0zero/GeoCorrect</a> for more info </h5>
        <h4>Click on Map Icon to see data on map</h4>
        <h4>Click on Table Icon to see data in tabular form</h4>
    </div>

    <!--data table-->
  <table class="table table-bordered table-hover table-responsive">
    <thead>
      <tr>
        <th class="text-center">Table</th>
        <th class="text-center">Map</th>
        <th class="text-center">Foursquare Venue ID</th>
        <th class="text-center danger">Old Latitude </th>
        <th class="text-center danger">Old Longitude</th>
        <th class="text-center success">New Latitude </th>
        <th class="text-center success">New Longitude</th>
      </tr>
    </thead>
    <tbody class="text-center">
      {% for entry in entries %}
        <tr>
          <td><a href="/table/{{ entry.venue_id }}">&#9638;</a></td>
          <td><a href="/{{ entry.venue_id }}">&#128506;</a></td>
          <td>{{ entry.venue_id }}</td>
          <td class="danger">{{ entry.lat }}</td>
          <td class="danger">{{ entry.lng }}</td>
          <td class="success">{{ entry.lat_new }}</td>
          <td class="success">{{ entry.lng_new }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
