{% extends "base.html" %}

{% block title %}GeoCorrect{% endblock %}

{% block page_content %}

    <div style="text-align:center; margin-top: 10px;">
    <a class="btn btn-primary" style="display:inline-block;" href="/">&#127968; Home</a>
    <a  class="btn btn-primary" style="display:inline-block;" href="/{{ venue_id }}">&#128506; Map</a>
    </div>

    <h1 class="text-center">Venue Information</h1>
    <!--data table-->
    <table class="table table-bordered table-hover table-responsive">
        <tbody class="text-center">
        <tr>
            <td>Foursquare Venue ID </td>
            <td>{{ venue_id }}</td>
        </tr>
        <tr>
            <td>Name </td>
            <td>{{ venue_info.venue_name }}</td>
        </tr>
        <tr>
            <td>Address </td>
            <td>{{ venue_info.venue_formattedAddress }}</td>
        </tr>
        <tr>
            <td>Foursquare URL</td>
            <td><a target="_blank" href="{{ venue_info.venue_canonicalUrl }}">{{ venue_info.venue_canonicalUrl }}</a></td>
        </tr>
        </tbody>
    </table>

  <h1 class="text-center text-success">New Location</h1>
    <!--data table-->
  <table class="table table-bordered table-hover table-responsive">
    <thead>
      <tr>
        <th class="text-center success">Latitude </th>
        <th class="text-center success">Longitude</th>
      </tr>
    </thead>
    <tbody class="text-center">
      {% for entry in new_loc %}
        <tr>
          <td class="success">{{ entry.lat }}</td>
          <td class="success">{{ entry.lng }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>

  <h1 class="text-center text-danger" >Old Location</h1>
    <!--data table-->
  <table class="table table-bordered table-hover table-responsive">
    <thead>
      <tr>
        <th class="text-center danger">Latitude </th>
        <th class="text-center danger">Longitude</th>
      </tr>
    </thead>
    <tbody class="text-center">
      {% for entry in old_loc %}
        <tr>
          <td class="danger">{{ entry.lat }}</td>
          <td class="danger">{{ entry.lng }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h1 class="text-center" >Checkins</h1>
    <!--data table-->
  <table class="table table-bordered table-hover table-responsive">
    <thead>
      <tr>
        <th class="text-center">Latitude </th>
        <th class="text-center">Longitude</th>
      </tr>
    </thead>
    <tbody class="text-center">
      {% for entry in checkins %}
        <tr>
          <td>{{ entry.lat }}</td>
          <td>{{ entry.lng }}</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
